{{ '{% extends \'::base.html.twig\' %}' }}
{{ '{% set subtitle = \''~entity~' Edit\' %}' }}
{{ '{% block main %}' }}
<form  class="form-horizontal" action="{{ "{{ path(\'"~ route_name_prefix ~"_update\', { \'id\': entity.id }) }}" }}" method="post" {{ '{{ form_enctype(form) }}' }}>
{{ '<div class="c990000 bold error">{{ form_errors(form) }}</div>' }}
    {% for field in fieldnames %}
        {% if field != 'id' %}
            {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
        {% endif %}
    {% endfor %}
    {% for field in checks %}
        {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
    {% endfor %}
    {% for field in maps %}
        {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
    {% endfor %}
{{ '<div class="row-fluid error hidden">' }}
{{ '{{ form_rest(form) }}' }}
{{ '</div>' }}
<div class="control-group">
    <div class="controls">
        <span class="btn-group">
            <button type="submit" class="btn btn-primary" title="Save form" name="action" value="save">
                <span class="icon-save"></span> Save
            </button>
        </span>
    </div>
</div>
</form>
{% set hide_edit, hide_delete = true, false %}
{% include 'others/record_actions.html.twig' %}
{{ '{% endblock main %}' }}