{{"{% extends \"::layout.html.twig\" %}"}}

{{"{% block subtitle %}"}}{{ entity }} Edit{{"{% endblock subtitle %}"}}

{{"{% block body %}"}}
{{ "<span class='c990000 bold error'>" }}
{{ "{{ form_errors(form) }}" }}
{{ "</span>" }}
<form action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
    <div class='span12'>
        <span class='clear'>
        </span>
{% for field in fieldnames %}
{% if field != 'id' %}
        <span class='span12 clear'>
            <span class='span2'>
                {{ "{{form_label(form."}}{{field}}{{") }}"}}
            </span>
            <span class='span6'>
                {{ "{{form_widget(form."}}{{field}}{{") }}"}}
            </span>
        </span>
{% endif %}
{% endfor %}
{% for field in checks %}
        <span class='span12 clear'>
            <span class='span2'>
                {{ "{{form_label(form."}}{{field}}{{") }}"}}
            </span>
            <span class='span6'>
                {{ "{{form_widget(form."}}{{field}}{{") }}"}}
            </span>
        </span>
{% endfor %}
{% for field in maps %}
        <span class='span12 clear'>
            <span class='span2'>
                {{ "{{form_label(form."}}{{field}}{{") }}"}}
            </span>
            <span class='span6'>
                {{ "{{form_widget(form."}}{{field}}{{") }}"}}
            </span>
        </span>
{% endfor %}
    </div>
    {{ "<span class='span12 clear error hidden'>" }}
    {{ "{{ form_rest(form) }}" }}
    {{ "</span>" }}
    <span class='span6 clear'>
        <label class="txtl"></label>
        <button type='submit' class='btn btn-primary bold'>Save</button>
    </span>
</form>

<span class='span12 clear'>
    <span class='span2'></span>
    <span class='span6'>
        <br/>
{% set hide_edit, hide_delete = true, false %}
{% include 'others/record_actions.html.twig' %}
    </span>
</span>
{{"{% endblock body %}"}}
