{{ '{% extends \'::base.html.twig\' %}' }}
{{ '{% set subtitle = \''~entity~' Detail\' %}' }}
{{ '{% block main %}' }}
<form  class="form-horizontal" action="{{ "{{ path(\'"~ route_name_prefix ~"_update\', { \'id\': entity.id }) }}" }}" method="post" {{ '{{ form_enctype(form) }}' }}>
{{ '<div class="c990000 bold error">{{ form_errors(form) }}</div>' }}
    {% for field in fieldnames %}
        {% if field != 'id' %}
            {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
        {% endif %}
    {% endfor %}
    {% for field in checks %}
        {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
    {% endfor %}
    {% for field in maps %}
        {{ '{{ form_row(form.'}}{{field}}{{') }}'}}
    {% endfor %}
{{ '<div class="row-fluid error hidden">' }}
{{ '{{ form_rest(form) }}' }}
{{ '</div>' }}
</form>
{% set hide_edit, hide_delete = true, false %}
{% include 'others/record_actions.html.twig' %}
{{ '{% endblock main %}' }}
